.navBar {
    flex:0 0 auto;  
  }
  .header{
    width: 100%;
  }
  .view-container{

  }
  
  .app-container {
    
    display: flex ;
    flex-flow: row;

  }
  .routerView {
    display: flex;
    flex:1 1 auto;
    justify-content: center;
  }