.header{
    display: flex; 
    flex-flow: row wrap ; 
    margin:2em 0 1em 0;

    &--menu{
        flex : 1 1 10%;
        
        img{
            width: 3em;
            height: 3em;
            
        }
    }
    &--logo{
        flex: 1 1 20%;
    }

    &--search{
        flex: 1 1 30%;
    }
    &--buy{
        flex-flow: row wrap ; 
        flex: 1 1 40%;
        display:flex; 
        justify-content: space-around;
    }

    &--category-bar{
        flex: 0 0 100% ; 
        display:flex ; 
        flex-flow:row wrap;
        justify-content: space-around;
        &__category{
            flex: 0 0 auto; 
        }
    }

    @media (max-width:970px)
    {
        &--menu{
            flex : 1 1 10%;
        }
        &--logo{
            flex: 1 1 45%;
        }
        &--category-bar{
            display:none ; 
        }
    
        &--search{
            flex: 1 1 100%
        }
        &--buy{
            flex: 1 1 45%;
        }
    }
}