@import '@/globals/utility.scss';
//normal display
@media (min-width:$md) {
  .mobileOpenNavBar{
    display: none;
  }  
  .navBar-container {
    display: block;
  }
  .navBar-close > i {
    display: none;
  }
}
//mobile display
@media(max-width:$md){
  .hidden{
    display:none;
  }
  .visible{
    display:block;
  }
  .navBar-container{
    position:fixed;
  }
  .navBar-close > i {
    display: block;
  }
  .mobileOpenNavBar{
    display: block;
  }
  .card{
    min-width: calc(90vw - 20px) ;
  }
}