@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    font-family: 'Montserrat';
}

@font-face {
    font-family: "Montserrat";
    src: url("/public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("/public/fonts/Montserrat/static/Montserrat-Thin.ttf");
    font-weight: 100;
}
@font-face {
    font-family: "Montserrat";
    src: url("/public/fonts/Montserrat/static/Montserrat-ExtraLight.ttf");
    font-weight: 200;
}
@font-face {
    font-family: "Montserrat";
    src: url("/public/fonts/Montserrat/static/Montserrat-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "Montserrat";
    src: url("/public/fonts/Montserrat/static/Montserrat-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Montserrat";
    src: url("/public/fonts/Montserrat/static/Montserrat-SemiBold.ttf");
    font-weight: 600;
}

.app-container{
    
    width: 80vw;
    margin:auto;
}