@import 'src/variables';
.footer{
    font-family: 'Montserrat';
    font-weight: normal;
    display: flex ; 
    flex-flow: column;
    
    
    &--list-spacebetween{
        flex-flow: row wrap;
        display:flex ; 
        flex: 1 1 auto;        
        justify-content: space-between;
        color:$theme;
        ul{
            padding:1em 1em 1em 1em;
            min-width: 160px;
            font-weight: 700;
            font-size:0.8rem;
            
        }
        ul li {
            font-weight: 300;
            font-size:0.68rem;
            padding: 0.4rem 0 0.4rem 0;
        }
        ul li:first-child{
            margin-top:1em;
        }
       
    }
    &--list-flexstart{
        flex-flow: row wrap ;
        display: flex; 
        flex: 1 1 auto ;
        font-weight: 700;
        font-size: 0.8em;
        padding:1em;
        ul{
            padding :1em;
            display: flex ; 
            flex-flow: row wrap ; 
        }
        ul > li{
            flex : 0 0 auto ;
            font-weight: 300;
            margin: 0 0.5em 0 0.5em ;
            img{
                height: 30px;

            }
        }
    }
    &--line-centralized{
        display:flex; 
        justify-content: center;
        font-weight: 300;
        font-size:0.65em;
        padding: 1em 2em 3em 2em;
    }
    

}
.bottom-centralized{
    display:flex;
    justify-content: center;
    background-color: #004D40;
    color: white;
    font-size:0.65em;
    width: 100vw;
    left:0;
    padding: 1em 0 1em 0 ;

}