.product{
    flex: 1 1 1em;
    display:flex ;
    flex-flow:column;            
    height: 10em;
    border:1px solid black;
    justify-content: space-around;
    &--image{
        
    }
    &--price{
        
    }
    &--actions{
        display:flex ; 
        justify-content: space-between;
        padding:1em;
    }
}