.login-container{
    display:flex; 
    flex-flow:column ;


    &--title{
        font-weight: 700;
        font-size:2rem;
        align-self: center;
    }
    &--form{
        min-width: 30em;
        max-width: 30vw;
        flex-flow:column;
        display:flex; 
        align-self: center;
        margin:2rem 0 2rem 0;
        &__input{
            margin: 1rem 0 1rem 0;
        }
        &__submit{
            
        }

    }
    &--register{
        align-self:center; 
        margin:2rem 0 2rem 0;
    }


}