@import '@/globals/utility.scss';


.toolbar{
  border-radius: 3rem;
  flex: 1 1 auto;
  justify-content: space-between;
}
.toolbar-start{
  display: flex;
  flex-flow:row wrap;
  justify-content: end;
}
.toolbar-end{
}


@media (max-width:$md) {
  .headerNavbar{
    display:flex;
    flex-wrap: wrap;
    
  } 
}
@media(min-width:$md){
  .headerNavbar{
    display:none;
    flex-wrap: wrap;
  }
}